@import "tailwindcss";
@import "tw-animate-css";
@tailwind utilities;

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.129 0.042 264.695);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.129 0.042 264.695);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.129 0.042 264.695);
  --primary: oklch(0.208 0.042 265.755);
  --primary-foreground: oklch(0.984 0.003 247.858);
  --secondary: oklch(0.968 0.007 247.896);
  --secondary-foreground: oklch(0.208 0.042 265.755);
  --muted: oklch(0.968 0.007 247.896);
  --muted-foreground: oklch(0.554 0.046 257.417);
  --accent: oklch(0.968 0.007 247.896);
  --accent-foreground: oklch(0.208 0.042 265.755);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.929 0.013 255.508);
  --input: oklch(0.929 0.013 255.508);
  --ring: oklch(0.704 0.04 256.788);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.984 0.003 247.858);
  --sidebar-foreground: oklch(0.129 0.042 264.695);
  --sidebar-primary: oklch(0.208 0.042 265.755);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.968 0.007 247.896);
  --sidebar-accent-foreground: oklch(0.208 0.042 265.755);
  --sidebar-border: oklch(0.929 0.013 255.508);
  --sidebar-ring: oklch(0.704 0.04 256.788);
}

.dark {
  --background: oklch(0.129 0.042 264.695);
  --foreground: oklch(0.984 0.003 247.858);
  --card: oklch(0.208 0.042 265.755);
  --card-foreground: oklch(0.984 0.003 247.858);
  --popover: oklch(0.208 0.042 265.755);
  --popover-foreground: oklch(0.984 0.003 247.858);
  --primary: oklch(0.929 0.013 255.508);
  --primary-foreground: oklch(0.208 0.042 265.755);
  --secondary: oklch(0.279 0.041 260.031);
  --secondary-foreground: oklch(0.984 0.003 247.858);
  --muted: oklch(0.279 0.041 260.031);
  --muted-foreground: oklch(0.704 0.04 256.788);
  --accent: oklch(0.279 0.041 260.031);
  --accent-foreground: oklch(0.984 0.003 247.858);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.551 0.027 264.364);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.208 0.042 265.755);
  --sidebar-foreground: oklch(0.984 0.003 247.858);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.279 0.041 260.031);
  --sidebar-accent-foreground: oklch(0.984 0.003 247.858);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.551 0.027 264.364);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .btn-primary {
    @apply w-full px-4 py-2 bg-blue-600  text-white font-semibold rounded-lg hover:bg-blue-700 transition-colors duration-300 flex items-center cursor-pointer justify-center ;
  }
}

@layer components{
    .form-dark-theme{
    @apply dark:bg-slate-950;
  }
}

/* src/app/globals.css */

/* Додайте до існуючих стилів Tailwind */

@keyframes float {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }
  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0.2;
    border-radius: 50%;
  }
}

.shape {
  position: absolute;
  bottom: -150px; /* Звідки починається анімація */
  animation: float 25s linear infinite; /* Тривалість і тип анімації */
  background: #cbd5e1; /* gray-300 */
}

.shape-1 {
  width: 48px;
  height: 48px;
  left: 31%;
  animation-duration: 21s;
  animation-delay: 2s;
}

.shape-2 {
  width: 25px;
  height: 25px;
  left: 64%;
  animation-duration: 18s;
  animation-delay: 4s;
}

.shape-3 {
  width: 49px;
  height: 49px;
  left: 17%;
  animation-duration: 24s;
  animation-delay: 1s;
  background: #94a3b8; /* gray-400 */
}

.shape-4 {
  width: 40px;
  height: 40px;
  left: 55%;
  animation-duration: 16s;
  animation-delay: 0s;
}

.shape-5 {
  width: 32px;
  height: 32px;
  left: 88%;
  animation-duration: 23s;
  animation-delay: 3s;
  background: #e2e8f0; /* gray-200 */
}

.shape-6 {
  width: 38px;
  height: 38px;
  left: 5%;
  animation-duration: 19s;
  animation-delay: 1s;
}

.shape-7 {
  width: 21px;
  height: 21px;
  left: 45%;
  animation-duration: 20s;
  animation-delay: 5s;
  background: #64748b; /* gray-500 */
}

.shape-8 {
  width: 44px;
  height: 44px;
  left: 79%;
  animation-duration: 17s;
  animation-delay: 2s;
}

.shape-9 {
  width: 29px;
  height: 29px;
  left: 22%;
  animation-duration: 25s;
  animation-delay: 0s;
  background: #94a3b8; /* gray-400 */
}

.shape-10 {
  width: 53px;
  height: 53px;
  left: 59%;
  animation-duration: 22s;
  animation-delay: 4s;
}

.shape-11 {
  width: 36px;
  height: 36px;
  left: 11%;
  animation-duration: 15s;
  animation-delay: 3s;
}

.shape-12 {
  width: 50px;
  height: 50px;
  left: 92%;
  animation-duration: 19s;
  animation-delay: 1s;
}

.shape-13 {
  width: 27px;
  height: 27px;
  left: 73%;
  animation-duration: 20s;
  animation-delay: 2s;
}

.shape-14 {
  width: 41px;
  height: 41px;
  left: 38%;
  animation-duration: 24s;
  animation-delay: 5s;
}

.shape-15 {
  width: 35px;
  height: 35px;
  left: 6%;
  animation-duration: 17s;
  animation-delay: 0s;
  background: #e2e8f0; /* gray-200 */
}

.shape-16 {
  width: 51px;
  height: 51px;
  left: 81%;
  animation-duration: 23s;
  animation-delay: 3s;
}

.shape-17 {
  width: 24px;
  height: 24px;
  left: 29%;
  animation-duration: 20s;
  animation-delay: 1s;
}

.shape-18 {
  width: 47px;
  height: 47px;
  left: 66%;
  animation-duration: 18s;
  animation-delay: 4s;
  background: #94a3b8; /* gray-400 */
}

.shape-19 {
  width: 33px;
  height: 33px;
  left: 14%;
  animation-duration: 16s;
  animation-delay: 2s;
}

.shape-20 {
  width: 55px;
  height: 55px;
  left: 49%;
  animation-duration: 25s;
  animation-delay: 0s;
}

.shape-21 {
  width: 26px;
  height: 26px;
  left: 85%;
  animation-duration: 22s;
  animation-delay: 3s;
  background: #64748b; /* gray-500 */
}

.shape-22 {
  width: 39px;
  height: 39px;
  left: 70%;
  animation-duration: 19s;
  animation-delay: 1s;
}

.shape-23 {
  width: 52px;
  height: 52px;
  left: 20%;
  animation-duration: 24s;
  animation-delay: 4s;
}

.shape-24 {
  width: 30px;
  height: 30px;
  left: 90%;
  animation-duration: 17s;
  animation-delay: 2s;
}

